<h1><%= @badge.display_name %></h1>

<div class="badge-image">
  <%= image_tag(@badge.image_url, 
                :alt => @badge.display_name,
                :title => @badge.display_name) %>
</div>

<div>
  <p class="badge-desc"><%= @badge.description %></p>
  <p class="badge-requirements"><%= @badge.requirements_in_words %></p>
</div>
